.main-second-section{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.second-section{
    width: calc(100% - 80px);
    height: 100%;
    max-width: 2000px;
}

.top-txt-second-section{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.top-txt-second-section h1{
    font-size: 120px;
    font-family: "Tropical";
    letter-spacing: -0.06em;
    max-width: 672px;
    text-align: center;
    line-height: 100%;
}
.top-txt-second-section span{
    font-size: clamp(20px, 2vw, 25px);
    font-family: "Inter";
    font-weight: 500;
    letter-spacing: -0.03em;
    max-width: 599px;
    text-align: center;
    line-height: 110%;
}

.projects-bottom{
    width: 100%;
    height: fit-content;
}

.work-txt{
    width: 100%;
    display: flex;
    height: 61px;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}

.work-txt span{
    font-size: 60px;
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: -0.05em;
}

#aloo-txt{
    display: flex;
    flex-direction: row;
    gap: 0px;

}

#aloo-txt p{
    font-size: 0.3em;
    opacity: 50%;
    margin-top: 0.3em;
    margin-left: 0.1em;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}


.project {
    width: 495px;
    flex: 1 1 495px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
}

.project-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.wrap-project{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btns-project{
    display: flex;
    width: 305px;
    flex-direction: row;
    margin-left: 2px;
}

.txt-project{
    display: flex;
        flex-direction: column;
        gap: 0px;
}
.project-info h1{
    font-family: "Tropical";
    font-weight: 700;
    letter-spacing: -0.06em;
    font-size: 25px;
}
.project-info span{
    font-family: "Inter";
    font-weight: 700;
    letter-spacing: -0.04em;
    font-size: 15px;
    opacity: 50%;
    color: black;
}

.modal-credits{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999;
    /* display: flex; */
    display: none;
    width: 639px;
    height: fit-content;
    padding: 40px 35px;
    background: var(--accent);
    border: 1px solid var(--black);
    border-radius: 5px;
    flex-direction: column;
}

.top-modal-credits{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 25px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.6);
}

.txt-modal-top h1{
    font-size: 60px;
    font-family: "Tropical";
    letter-spacing: -0.06em;
    line-height: 100%;
}
.txt-modal-top span{
    font-size: 20px;
    font-family: "Inter";
    letter-spacing: -0.02em;
    line-height: 100%;
    opacity: 80%;
}

.credit{
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: 25px;
    height: 40px;
    align-items: center;
}

.credit h1{
    font-size: 35px;
    font-weight: 600;
    font-family: "Inter";
    letter-spacing: -0.05em;
}
.credit h1:nth-child(1){
    font-size: 35px;
    font-weight: 600;
    font-family: "Inter";
    letter-spacing: -0.05em;
    opacity: 50%;
}
.credit h1:nth-child(2){
    font-size: 35px;
    font-weight: 600;
    font-family: "Inter";
    letter-spacing: -0.05em;
    opacity: 80%;
}

@media (max-width: 1060px) {

    .second-section {
        width: calc(100% - 40px);
        height: 100%;
    }
    .top-txt-second-section h1{
        font-size: 56px;
        max-width: 303px;
    }

    .top-txt-second-section span{
        max-width: 358px;
    }

    .top-txt-second-section{
        gap: 10px;
    }

    .work-txt span{
        font-size: 40px;
    }

    .work-txt{
        margin-top: 40px;
    }
}

@media (max-width: 572px) {
    .project-info h1{
        font-size: 20px;
    }
    .project-info span{
        font-size: 10px;
    }
    .btns-project{
        width: 228px;
    }
}

@media (max-width: 393px) {
    .project-info h1 {
            font-family: "Tropical";
            font-weight: 700;
            letter-spacing: -0.06em;
            font-size: 18px;
        }
}