.main-fifth-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.fifth-section {
    width: calc(100% - 80px);
    height: 100%;
    max-width: 2000px;
}

.top-txt-fifth-section {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.top-txt-fifth-section h1 {
    font-size: 120px;
    font-family: "Tropical";
    letter-spacing: -0.06em;
    max-width: 774px;
    text-align: center;
    line-height: 100%;
}

.top-txt-fifth-section span {
    font-size: clamp(20px, 2vw, 25px);
    font-family: "Inter";
    font-weight: 500;
    letter-spacing: -0.03em;
    max-width: 599px;
    text-align: center;
    line-height: 110%;
}

.bottom-pricing-cards{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.pricing-card{
    flex: 1 1 450px;
    padding: 30px 25px;
    background-color: var(--accent);
    height: fit-content;
    border: 1px solid var(--black);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grp-1-tp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.grp-1-tp h1{
    font-size: 40px;
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: -0.03em;
}

.grp-1-tp span{
    font-family: "Geist Mono";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.03em;
    opacity: 80%;
}

.top-pricing-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#desc-price{
    font-size: 25px;
    font-weight: 500;
    font-family: "Inter";
    line-height: 110%;
    letter-spacing: -0.03em;
    opacity: 80%;
    max-width: 410px;
}

.scope-pricing-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

#scope-txt{
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    letter-spacing: -0.03em;
    opacity: 50%;
}

.wrap-scope{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.scope-grp{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.scope-grp p{
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

#starting-text{
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    letter-spacing: -0.03em;
    opacity: 50%;
}

.price{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.txt-price{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price h1{
    font-size: 60px;
    font-family: "Inter";
    font-weight: 800;
    letter-spacing: -0.05em;
}

@media (max-width: 1060px) {
    .fifth-section {
        width: calc(100% - 40px);
        height: 100%;
    }
    .top-txt-fifth-section h1{
        font-size: 50px;
        max-width: 303px;
    }

    .top-txt-fifth-section span{
        max-width: 358px;
    }

    .top-txt-fifth-section{
        gap: 10px;
    }
}

@media (max-width: 538px) {
    .grp-1-tp h1{
        font-size: 30px;
    }

    .grp-1-tp span{
        font-size: 15px;
    }

    #desc-price{
        font-size: 20px;
    }

    #scope-txt{
        font-size: 18px;
    }

    .scope-grp p{
        font-size: 18px;
    }

    #starting-text{
        font-size: 18px;
    }

}

@media (max-width: 412px) {
    .grp-1-tp h1{
        max-width: 160px;
    }
}