.main-third-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.third-section {
    width: calc(100% - 80px);
    height: 100%;
    max-width: 2000px;
}

.top-txt-third-section {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.top-txt-third-section h1 {
    font-size: 120px;
    font-family: "Tropical";
    letter-spacing: -0.06em;
    max-width: 672px;
    text-align: center;
    line-height: 100%;
}

.top-txt-third-section span {
    font-size: clamp(20px, 2vw, 25px);
    font-family: "Inter";
    font-weight: 500;
    letter-spacing: -0.03em;
    max-width: 599px;
    text-align: center;
    line-height: 110%;
}

.reviews-bottom{
    margin-top: 40px;
    width: 100%;
}

.reviews-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
}

.review{
    width: 608px;
    /* height: 494px; */
    background: var(--accent);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #C3C3C3 ;
    border-radius: 5px;
    position: relative;
    flex: 1 1 608px;
}

.review-top{
    width: 100%;
    height: 91px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pfp img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.review-top-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.txt-wrap h1{
    font-size: 25px;
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: -0.03em;
}
.txt-wrap span{
    font-size: 20px;
    font-family: "Inter";
    font-weight: 500;
    letter-spacing: -0.03em;
    opacity: 75%;
    color: #454545;
}

.divider-dashed{
    width: 100%;
    height: 1px;
    border: 1px dashed #C3C3C3 ;
    position: absolute;
    top: 121px;
    left: 0;
}

.review-txt{
    margin-top: 42px;
}

.review-txt h1{
    font-size: 40px;
    letter-spacing: -0.04em;
    font-weight: 600;
}

@media (max-width: 1060px) {
    .third-section {
            width: calc(100% - 40px);
            height: 100%;
    }
    .top-txt-third-section h1 {
        font-size: 56px;
        max-width: 303px;
    }
    
    .top-txt-third-section span {
        max-width: 358px;
    }
    .top-txt-third-section{
        gap: 10px;
    }
}

@media (max-width: 792px) {
    .review-top{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .divider-dashed{
        margin-top: 36px;
    }

    .review-txt{
        margin-top: 70px;
    }

    .review-txt h1{
        font-size: 25px;
    }

    .txt-wrap h1{
        font-size: 20px;
    }

    .txt-wrap span{
        font-size: 15px;
    }

    .pfp img{
        height: 60px;
        width: 60px;
    }
}