.main-navbar{
    width: 100%;
    height: 95px;
    position: fixed;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}

.menu-mobile{
    width: 100%;
    height: 575px;
    clip-path: inset(0% 0% 100% 0% );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60000;
    background-color: var(--accent);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--black);
    padding: 143px 0px 25px 0px;
    display: none;
}


.link-menu{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px dashed black;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.link-menu:nth-child(1){
    border-top: 1px dashed black;
}

.link-menu span{
    font-size: 50px;
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: -0.05em;
    opacity: 50%;
}

.link-menu.active span{
    opacity: 100%;
}

.wrapper-icon-menu{
    width: 80px;
    height: 100%;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-menu.active .icon-menu-link{
    opacity: 100%;
    background-color: black;
    border-radius: 50%;
    height: 27px;
    width: 27px;
}

.border-icon-menu{
    width: 80px;
    position: absolute;
    right: 0;
    height: 100%;
    border-left: 1px dashed black;
    opacity: 60%;
}

.navbar{
    width: calc(100% - 80px);
    max-width: 2000px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 600001;
    position: relative;
}

.navigation-middle{
    padding: 20px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--red);
    border: 2px solid var(--red-stroke);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.navigation-middle span{
    font-size: 25px;
    font-family: "Inter";
    letter-spacing: -0.05em;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
}

.menu-btn{
    display: none;
}

.btn-grp-mobile{
    display: none;
}

.btn-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* @media (max-width: 1060px) {
    .menu-btn{
        display: flex;
        height: 54px;
        width: 54px;
        justify-content: center;
        align-items: center;
        background-color: var(--red);
        border: 2px solid var(--red-stroke);
        border-radius: 5px;
    }
    .contact-button-right{
        display: none;
    }
    .navigation-middle{
        display: none;
    }

    .btn-grp-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .logo-left svg{
        width: 51px;
        height: 71.4px;
    }

    .navbar{
        width: calc(100% - 40px);
    }
    .main-navbar{
        height: 71.4px;
            top: 20px;
    }

    .menu-mobile{
        display: block;
    }
} */

@media (max-width: 1060px) {
    .navigation-middle {
        display: flex;
            transform:translate(-50%, 0%) scale(0.8);
    }
    .contact-button-right {
        display: flex;
        transform: scale(0.8);
    }

    .logo-left{
        transform: scale(0.8);
    }
    .navbar {
        width: calc(100% - 40px);
    }
    .main-navbar{
        height: 55px;
    }
    
}

@media (max-width: 833px) {
    .menu-btn{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 54px;
        width: 54px;
        justify-content: center;
        align-items: center;
        background-color: var(--red);
        border: 2px solid var(--red-stroke);
        border-radius: 5px;
    }

    .menu-btn-inner{
        pointer-events: none;
        height: 200%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 100%;
        position: relative;
    }
    .contact-button-right{
        display: none;
    }
    .navigation-middle{
        display: none;
    }

    .btn-grp-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .logo-left svg{
        width: 51px;
        height: 71.4px;
    }

    .navbar{
        width: calc(100% - 40px);
    }
    .main-navbar{
        height: 71.4px;
            top: 20px;
    }

    .menu-mobile{
        display: block;
    }
}