.main-fourth-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    min-height: 100vh;
    overflow: hidden;
}

.fourth-section {
    width: 100%;
    height: 100%;
}

.top-txt-fourth-section {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.top-txt-fourth-section h1 {
    font-size: 120px;
    font-family: "Tropical";
    letter-spacing: -0.06em;
    max-width: 672px;
    text-align: center;
    line-height: 100%;
}

.top-txt-fourth-section span {
    font-size: clamp(20px, 2vw, 25px);
    font-family: "Inter";
    font-weight: 500;
    letter-spacing: -0.03em;
    max-width: 599px;
    text-align: center;
    line-height: 110%;
}

.services-bottom{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin-top: 50px;
    /* background-color: var(--accent); */
}

.service{
    height: 325px;
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px calc(10% + 25px );
    position: relative;
    /* background-color: var(--accent);
    border-top: 1px dashed rgba(0, 0, 0, 0.2); */
    position: relative;
    left: -10%;

}

.service-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 2000px;
}

.service:nth-child(1){
    z-index: 4;
    background-color: var(--red);
}

.service:nth-child(2) {
    transform-origin: 100% 0%;
    z-index: 2;
    background-color: var(--green);
}

.service:nth-child(3){
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    transform-origin: 100% 0%;
    z-index: 1;
    background-color: var(--blue);
}


.service-right img{
    width: 420px;
    height: 255px;
    object-fit: cover;
    border-radius: 5px;
}

.service-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#service-span{
    width: 599px;
    font-size: 25px;
    font-family: "Inter";
    letter-spacing: -0.03em;
    font-family: 500;
    color: white;
}

.service-left h1{
    font-size: 50px;
    font-family: "Inter";
    letter-spacing: -0.05em;
    font-weight: 600;
    color: white;
}

@media (max-width: 1060px) {
    
    .top-txt-fourth-section h1{
        font-size: 56px;
        max-width: 280px;
    }

    .top-txt-fourth-section span{
        max-width: 358px;
    }

    .top-txt-fourth-section{
        gap: 10px;
    }
}

@media (max-width: 1258px) {
    .service-left h1{
        font-size: 40px;
        font-family: "Inter";
        letter-spacing: -0.05em;
        font-weight: 600;
        color: white;
    }

    #service-span{
        max-width: 390px;
        width: 90%;
        font-size: 20px;
        font-family: "Inter";
        letter-spacing: -0.03em;
        font-family: 500;
        color: white;
    }

}

@media (max-width: 1060px) {
    .service{
        display: flex;
        flex-direction: column;
        align-items: start;
        height: fit-content;
        gap: 20px;
    }

    .service-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 2000px;
        gap: 20px;
    }

    .service-right img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}