.main-form-contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999999999999999;
    overflow: hidden!important;
    overflow-y: hidden!important;
}

.bg-form{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--white);
    z-index: 5;
    opacity: 0;
    overflow: hidden;
}

.form-contact{
    width: 639px;
    height: 92%;
    border: 1px solid var(--black);
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--accent);
    padding: 40px 40px 35px 35px;
    z-index: 8;
    position: relative;
    transform: translateY(100%);
}

.top-form-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.6);
    padding-bottom: 25px;
}

.txt-top-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 371px;
}

.txt-top-form h1{
    font-size: 60px;
    font-family: "Tropical";
    letter-spacing: -0.06em;
    line-height: 100%;
}

.txt-top-form span{
    font-size: 20px;
    font-family: "Inter";
    letter-spacing: -0.02em;
    line-height: 100%;
    opacity: 80%;
}

.close-button{
    cursor: pointer;
}

.main-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 25px;
    height: calc(100% - 25px - 220px);
    overflow: auto;
    /* Fade gradient at top and bottom */
    mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 15px,
            black calc(100% - 15px),
            transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 15px,
            black calc(100% - 15px),
            transparent 100%);
}

.wrapper-inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 16px 21px;
    width: 100%;
    height: fit-content;
}

/* same logic as .project */
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 274px;
    flex: 1 1 250px;
}

.input-wrapper span{
    font-size: 20px;
    font-family: "Inter";
    letter-spacing: -0.02em;
    font-weight: 500;
    opacity: 80%;
}

.input-wrapper input{
    width: 100%;
    padding: 15px 10px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 15px;
    font-family: "Inter";
    font-weight: 500;
    color: var(--black);
    letter-spacing: -0.02em;
}
.input-wrapper select{
    width: 100%;
    padding: 15px 10px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 15px;
    font-family: "Inter";
    font-weight: 500;
    color: var(--black);
    letter-spacing: -0.02em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("../../../assets/chevronDown.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 16px;

    padding-right: 10px; /* space for arrow */
}

.input-wrapper.message textarea{
    padding: 15px 10px;
    height: 255px;
    text-align: start;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 15px;
    font-family: "Inter";
    font-weight: 500;
    color: var(--black);
    letter-spacing: -0.02em;
}

.btn-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 70px);
    position: absolute;
    bottom: 0px;
}

#notice-form{
    font-size: 15px;
    font-family: "Inter";
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 20px;
}

#notice-form a{
    color: var(--black);
    opacity: 80%;
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

#notice-form a:hover{
    text-decoration: none;
}


@media (max-height: 900px) {
    .form-contact{
        height: 90%;
    }
    
}

@media (max-height: 964px) {
    .main-form {
        height: calc(100% - 25px - 270px);
    }
}

@media (max-width: 653px) {
    .form-contact{
        width: 90%;
        padding: 30px 30px 20px 20px;
    }

    .top-form-contact h1{
        font-size: 40px;
    }
    .top-form-contact span{
        font-size: 15px;
        max-width: 252px;
    }

    .input-wrapper span{
        font-size: 15px;
    }

    #notice-form{
        font-size: 12px;
    }

    .main-form {
        height: calc(100% - 25px - 220px);
    }

    .btn-form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: calc(100% - 49px);
        position: absolute;
        bottom: 0px;
    }

}

@media (max-width: 499px) {
    .main-form {
        height: calc(100% - 25px - 240px);
    }
}

@media (max-width: 387px) {
    .main-form {
        height: calc(100% - 25px - 260px);
    }
}