.main-link-txt{
    overflow: hidden;
    cursor: pointer;
}


.main-link-txt a span{
    text-decoration: none;
    color: var(--white);
    font-family: "Inter";
    font-size: 25px;
    letter-spacing: -0.05em;
    text-shadow: 0px 1.2em 10px var(--red);
    font-weight: 600;
    position: relative;
    transform: translateY(0);
    transition: all 0.6s linear(0, 0.0039, 0.0157, 0.0352, 0.0625 9.09%,
            0.1407, 0.25, 0.3908, 0.5625, 0.7654, 1,
            0.8907, 0.8125 45.45%, 0.7852, 0.7657,
            0.7539, 0.75, 0.7539, 0.7657, 0.7852,
            0.8125 63.64%, 0.8905, 1 72.73%, 0.9727,
            0.9532, 0.9414, 0.9375, 0.9414, 0.9531,
            0.9726, 1, 0.9883, 0.9844, 0.9883, 1);
}

.main-link-txt:hover a span{
    transform: translateY(-1.2em) ;
    color: var(--white);
    text-shadow: 0px 1.2em 0px var(--white);
}

