.main-btn-normal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-btn-normal button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    border: 2px solid var(--red-stroke);
    height: 65px;
    width: 196px;
    color: var(--white);
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.main-btn-normal button span{
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: -0.05em;
    font-size: 25px;
    transition: all 0.3s ease;
    display: inline-block;
    position: absolute;
    
}

.wrap-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-btn-normal button span:nth-child(1){
    position: relative;
}
.main-btn-normal button span:nth-child(2){
    top: -100%;
}
.main-btn-normal button span:nth-child(3){
    bottom: -100%;
}
.main-btn-normal button span:nth-child(4){
    left: -100%;
}
.main-btn-normal button span:nth-child(5){
    right: -100%;
}
