.main-cta{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

#mascot-mohit{
    position: absolute;
    top: -110px;
    z-index: 1;
    height: 234px;
    width: 234px;
}

.wrap-cta{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    width: 90%;
    max-width: 1262px;
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--accent);
    border: 1px solid var(--black);
    z-index: 2;
    margin-top: 100px;
}

.cta h1{
    font-size: clamp(45px, 5vw, 80px);
    font-family: "Tropical";
    letter-spacing: -0.06em;
    text-align: center;
    max-width: 80%;
    line-height: 100%;
}

.arrows-grp{
    position: absolute;
    top: 420px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.arrows-grp svg{
    width: 80px;
    height: 80px;
}

@media (max-width: 817px) {
    #mascot-mohit{
        height: 180px;
        width: 180px;
        top: -60px;
    }
}

@media (max-width: 393px) {
    .arrows-grp{
        margin-top: 30px;
    }
}